.admin {
  border: 2px solid #a3a3a5;
  margin-top: 50px;

  .active {
    background-color: #fff !important;
    color: #2e2d33;
    clip-path: polygon(0 0, 92% 0, 100% 50%, 92% 100%, 0 100%, 8% 50%, 0 0) !important;
  }

  .nav {

    ul {
      display: flex;
      justify-content: space-around;
    }

    li {
      z-index: 1;
      cursor: pointer;
      list-style: none;
      font-size: xx-large;
      position: relative;
      padding: 2px 17px;
      top: -37px;
      background-color: #2e2d33;
      border-left: 2px solid #a3a3a5;
      border-right: 2px solid #a3a3a5;
      transition: clip-path 1s;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

    }
  }
}